/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */

.header {
    /* display: grid; */
    display: flex;
    /* height: 50%; */
    /* display: inline-block; */
    background-image: url("../img/AppleKeyboard.png");
    background-size: cover;
    /* background-clip: border-box; */
}

.logo {
    /* height: 300px; */
    /* position: absolute; */
    display: inline-flex;
    /* padding-bottom: 50px;
    padding-left: 60px; */
}

.nav-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-text p {
    background-color: rgba(255, 255, 255, .4);
    font-size: 35px;
    padding: 10px;
}

.multicolortextkeyboard {
    background-image: linear-gradient(to right, #67b26f, #4ca2cd);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main-nav {
    display: flex;

    margin: 0;
    /* float: right; */
    list-style: none;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .3);
}

/* .main-nav div {
    margin: 0 20px;
} */

.main-nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #67b26f;
    text-decoration: none;
    font-size: 200%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #4ca2cd;
}

/* -------------------------------------- */
/* MAIN CONTENT */
/* -------------------------------------- */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 208px 1fr;
    /* grid-template-rows: 250px 1fr 0.25fr 0.25fr; */
    max-width: 100%;
    width: 100vw;
    margin: 0px auto 0px auto;

    grid-template-areas:
        "header"
        "main-content"
        "footer";

    justify-items: stretch;
}

.main-content-container {
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    display: grid;
    width: 100%;
    margin: 0px auto;
}

.main-content {
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: main-content;
    text-align: center;
    margin-right: auto;
    column-gap: 50px;
    row-gap: 25px;
}

.main-content>div {
    grid-column: auto;
}

.vpamok-skills img {
    margin-top: 10px;
    height: 190px;
    width: auto;
}

.omnifood-skills img {
    height: 190px;
    width: auto;
}

.thumbs-skills img {
    height: 190px;
    width: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* .blog-logos {
    display: inline-flex;
    display: grid;
    display: flex;
} */

.blog-skills img {
    height: 190px;
    width: auto;
}

.brownie-skills img {
    height: 190px;
    width: auto;
}

.desert-skills img {
    height: 190px;
    width: auto;
}

.ev-skills img {
    height: 190px;
    width: auto;
}

.js-guess-number-skills img {
    height: 230px;
    width: auto;
}

article p {
    color: white;
}

article .skills {
    color: black;
}

.multicolortextvpamok {
    background-image: linear-gradient(to right, white, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextomnifood {
    background-image: linear-gradient(to right, #e67e22, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextThumb {
    background-image: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextBlog {
    background-image: linear-gradient(to right, #fff, #043e2e);
    /* background-image: linear-gradient(to right, #fff, #52796f); */
    /* background-image: linear-gradient(to right, #84A98C, #52796f); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextBrownie {
    background-image: linear-gradient(to right, #69140e, #d58936);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextIsland {
    background-image: linear-gradient(to right, #f3d3b8, #4872bc);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextEv {
    background-image: linear-gradient(to right, white, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortextJSGuessNumber {
    background-image: linear-gradient(to right, white, #60b347);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */

.footer {
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    display: flexbox;
    grid-area: footer;
    text-align: left;
    /* align-items: center; */
}

/* footer {
    display: flexbox;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
} */

.footer-copy-text {
    /* display: flexbox; */
    padding-left: 150px;
    /* align-items: right; */
}