/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* background-color: #fff; */
    /* color: #555; */
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 0;
}

.box {
    padding: 1%;
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */

header {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    background-size: cover;
    background-position: center;
    height: 200px;
    background-attachment: fixed;
}

.text-box {
    /* color: #444; */
    padding: 50px;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* Cross Axis */
    justify-content: center;
    /* Main Axis */
}

.logo {
    height: 300px;
    width: auto;
    float: left;
    margin-top: 0px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #67b26f;
    text-decoration: none;
    font-size: 200%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #4ca2cd;
}

/* -------------------------------------- */
/* HEADINGS */
/* -------------------------------------- */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Give You Glory', 'Arial', sans-serif;
    font-size: 540%;
    word-spacing: 4px;
    letter-spacing: 1px;
    animation: floatText 15s infinite linear;
}

@keyframes floatText {
    to {
        transform: translateX(-100%);
    }
}

/* -------------------------------------- */
/* PARAGRAPHS */
/* -------------------------------------- */

.link-copy {}


/* -------------------------------------- */
/* PROJECT CARDS */
/* -------------------------------------- */

section .parent {
    padding: 100px;
    width: 100vw;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
}

section .visual {
    height: 100px;
    width: 100%;
}

section .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

section h3 {
    margin: 0
}